[Unit]
Description=Nexus Repository Manager
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
User=nexus
Group=nexus
ExecStart=/opt/nexus-3.3.0-01/bin/nexus start
ExecStop=/opt/nexus-3.3.0-01/bin/nexus stop
ExecReload=/opt/nexus-3.3.0-01/bin/nexus restart
Restart=always
RestartSec=10
TimeoutStartSec=60
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
