sonar.jdbc.username=sonarqube
sonar.jdbc.password=sonarqube
sonar.jdbc.url=jdbc:postgresql://localhost/sonarqube
sonar.web.host=0.0.0.0
sonar.web.port=9000
sonar.path.data=/opt/sonarqube/data
sonar.path.logs=/opt/sonarqube/logs
sonar.path.temp=/opt/sonarqube/temp
